
<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.text_area field.attribute, class: "tinymce", id: "tinymce", rows: field.rows, columns: field.columns %>
</div>
